body {
  background-color: #66c2ff;
}
#city-element {
  color: rgb(72, 151, 151);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 50px;
  top: 30px;
  font-size: 30px;
}

.new-day {
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 300px;
  top: 10px;
  font-size: 15px;
}
input {
  caret-color: red;
}
.container {
  width: 900px;
  position: absolute;
  border: solid 3px white;
  border-radius: 25px;
  background: linear-gradient(-45deg, #7e3a26 10%, #dfeff8 50%);
  margin: 80px auto;
  padding: 30px;
}
button {
  background-color: rgb(49, 73, 179);
  position: relative;
  top: 40px;
  left: 400px;
  border-radius: 3px;
  border: 1px, solid;
  color: #fff;
  opacity: 0.5;
}
button:hover {
  background-color: #417fa8;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
#city-form {
  position: relative;
  left: 400px;
  top: 30px;
}

.form-control {
  position: relative;
  top: 100px;
  left: 250px;
  margin: 0px;
  text-align: center;
}

.float-left {
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  font-size: 15px;
}
