body {
  font-family: arial, sans-serif;
  display:block;
  margin:20px;
}
#city,.new-day {
  font-size: 20px;
  opacity: 0.7;
}
.weather-app {
  max-width: 600px;
  border: solid 1px rgb(125, 201, 54);
  border-radius: 5px;
  
  margin-top: 0 auto;
  padding: 15px;
}
#change-city {
   border-radius: 2px;
  border:        none;
  box-shadow:    0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height:        40px;
  outline:       0;
  width:         300px
}
#search{
  border-radius: 2px;
  border:        none;
  color: rgb(255, 255, 255);
  height: 42px;
  background-color: rgb(123, 139, 53);
}
button {
  background-color: rgb(74, 101, 223);
  position: relative;
  left: 390px;
  bottom: 12px;
  border-radius: 3px;
  border: none;
  color: #fff;
height: 42px;
}
button:hover {
  background-color: #ffffff;
  color: rgb(25, 68, 185);
  font-weight: bold;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
#city-form {
  position: relative;
  top: 30px;
}

#temperature{
  font-size: 50px;
  
}
.units {
  position: relative;
  top: -25px;
}
.units a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}
ul{
  list-style: none;
 position: relative;
  left: 250px;
  bottom: 80px;
  opacity: 0.7;
}
.form-control {
  position: relative;
  top: 100px;
  left: 250px;
  margin: 0px;
  text-align: center;
}
#description{
  text-transform: capitalize;
}
.float-left {
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  font-size: 15px;
}
#weekdays {
  margin-top: 30px;
  opacity: 0.7;
  font-weight: 100;
 position: relative;
 bottom: 70px; 
}
small {
  position: relative;
  left: 120px;
}